body {
  font-family: sans-serif;
}

li {
  font-family: inherit;
}

#assignment-instructions {
  font-family: sans-serif;
  color: #f34bff;
}

code {
  font-family: monospace;
  color: red;
}

.second-li > code {
  color: green;
}

li ~ li {
  background: black;
  color: white;
}

ol > li {
  background: black;
  color: white;
}
